{% extends '_base/default.html' %}

{% block page_title -%}
    [404] Page not found
{%- endblock %}

{% block page_content %}
<p>
    Bad news: The site you requested does not exist.
</p>
<p>
    This might be due to one of the following reasons:
    <ul>
        <li>The page has moved or doesn’t exist anymore.</li>
        <li>You followed a broken or outdated link.</li>
        <li>You are victim of a copy/paste failure.</li>
        <li>You typed the wrong URL on accident.</li>
        <li>You like 404 pages and typed the wrong URL on purpose.</li>
    </ul>
</p>
<p>
    These hints might be useful for finding the page you’ve been searching for:
    <ol>
        <li>Append “<tt>.html</tt>” to the URL if it isn’t already present somewhere in there.</li>
        <li>Check the URL for obvious typos.</li>
        <li>Start from the <a href="/">main page</a> or use the navigation menu on top of this page.</li>
    </ol>
</p>
{% endblock %}
