{% extends '_base/default.html' %} 

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>
{% endblock %}

{% block page_title -%}
    About
{%- endblock %}


{% block page_content %}
<p>
    Sebastian Friedl<br>
    <i class="far fa-envelope fa-fw"></i>&nbsp;<a class="text-monospace" href="mailto:sfr682k@t-online.de">sfr682k@t-online.de</a><br>
    <i class="fas fa-globe-europe fa-fw"></i>&nbsp;<a class="text-monospace" href="http://sfr682k.gitlab.io">http://sfr682k.gitlab.io</a>
</p>


<h2>Disclaimer</h2>
<p>
    The information contained in this website is for general information purposes only.  The
    information is provided by me and while I endeavour to keep the information up to date and
    correct, I make no representations or warranties of any kind, expressed or implied, about the
    completeness, accuracy, reliability, suitability or availability with respect to the website or
    the information, products, services or related graphics contained on the website for any purpose.
    Any reliance you place on such information is therefore strictly at your own risk.
</p>
<p>
    In no event will I be liable for any loss or damage including without limitation, indirect or
    consequential loss or damage, or any loss or damage whatsoever arising from loss of data or
    profits arising out of, or in connection with, the use of this website.
</p>
<p>
    Through this website you are able to link to other websites which are not under my control.
    I have no control over the nature, content and availability of those sites.  The inclusion of
    any links does not necessarily imply a recommendation or endorse the views expressed within them.
</p>
<p>
    Every effort is made to keep the website up and running smoothly.  However, I take no
    responsibility for, and will not be liable for, the website being temporarily unavailable due
    to technical issues beyond my control.
</p>
{% endblock %}
