{% extends '_base/default.html' %} 

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>
{% endblock %}

{% block page_title -%}
    Contact
{%- endblock %}

{% block page_content %}
<p>
    You may contact me using the means of communication listed on this site as long as it is
    related to my programming work.  I don’t mind getting feedback, bug reports and feature
    requests, but I don’t like to see my inbox being filled up with tons of spam.
</p>
<p>
    For reporting issues, please make constructive use of the issue trackers instead of writing
    e-mails.
</p>


<ul class="nav nav-tabs mt-4" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#email" role="tab">
            E-Mail
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#issuetrackers" role="tab">
            Issue Trackers
        </a>
    </li>
</ul>
<div class="tab-content mt-2">
    <div id="email" class="tab-pane show active" role="tabpanel">
        <p>
            My e-mail address is <a class="text-monospace" href="mailto:sfr682k@t-online.de">sfr682k@t-online.de</a>.
            As already mentioned above, you may contact me via e-mail, as long it does not contain spam.
        </p>
        <p>
            Please note that I’m able to define rules which can be used to move e-mails from a certain sender
            or with a certain subject directly to my trash folder.  Please do yourself a favor by not challenging
            this ability&nbsp;:D
        </p>
    </div>
    <div id="issuetrackers" class="tab-pane" role="tabpanel">
        <p>
            Please choose the issue trackers according to the regarding project.
        </p>
        <p>
            You will find the relevant links on the <a href="/projects.html">Projects</a> page.
        </p>
    </div>
</div>
{% endblock %}
