{% extends '_base/nav-column.html' %}

{% block page_title -%}
    Under Construction
{%- endblock %}


{%- block page_content %}
<p>
    Currently I’m (still) busy moving my homepage from GitHub to GitLab Pages.  Thus, it may take some time until my homepage is finished.
</p>
<p>
    Content is added stepwise; please be patient.
</p>
{%- endblock %}

{%- block nav_content %}
<div class="card text-center">
    <div class="card-header">
        My Profile on &hellip;
    </div>
    <div class="list-group">
        {%- for profile in profiles %}
        <a class="list-group-item list-group-item-action" {% if profile.url -%} href="{{ profile.url }}" {%- endif %} target="_blank">
            {% if profile.icon -%} <p class="m-0"><i class="{{ profile.icon }}"></i></p> {%- endif %}
            <p class="m-0">{{ profile.site }}</p>
        </a>
        {%- else %}
        <a class="list-group-item text-muted">Not implemented yet. Sorry&nbsp;:(</a>
        {%- endfor %}
    </div>
</div>
{%- endblock %}

