{% extends '_base/nav-column.html' %} 

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
    </ol>
</nav>
{% endblock %}

{% block page_title -%}
    Projects
{%- endblock %}


{% block page_content %}
    <span class="text-muted"><i class="icon fas fa-wrench"></i>&nbsp;Under Construction</span>
{% endblock %}
