@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Fira Sans Light'),
         local('FiraSans-Light'),
         url('FiraSans/WOFF2/FiraSans-Light.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-Light.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-Light.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Fira Sans Light Italic'),
         local('FiraSans-LightItalic'),
         url('FiraSans/WOFF2/FiraSans-LightItalic.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-LightItalic.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-LightItalic.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-LightItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fira Sans Regular'),
         local('FiraSans-Regular'),
         url('FiraSans/WOFF2/FiraSans-Regular.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-Regular.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-Regular.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Fira Sans Italic'),
         local('FiraSans-Italic'),
         url('FiraSans/WOFF2/FiraSans-Italic.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-Italic.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-Italic.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-Italic.ttf') format('truetype');
}


@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Fira Sans Medium'),
         local('FiraSans-Medium'),
         url('FiraSans/WOFF2/FiraSans-Medium.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-Medium.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-Medium.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Fira Sans Medium Italic'),
         local('FiraSans-MediumItalic'),
         url('FiraSans/WOFF2/FiraSans-MediumItalic.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-MediumItalic.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-MediumItalic.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-MediumItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Fira Sans SemiBold'),
         local('FiraSans-SemiBold'),
         url('FiraSans/WOFF2/FiraSans-SemiBold.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-SemiBold.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-SemiBold.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Fira Sans SemiBold Italic'),
         local('FiraSans-SemiBoldItalic'),
         url('FiraSans/WOFF2/FiraSans-SemiBoldItalic.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-SemiBoldItalic.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-SemiBoldItalic.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-SemiBoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Fira Sans Bold'),
         local('FiraSans-Bold'),
         url('FiraSans/WOFF2/FiraSans-Bold.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-Bold.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-Bold.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Fira Sans Bold Italic'),
         local('FiraSans-BoldItalic'),
         url('FiraSans/WOFF2/FiraSans-BoldItalic.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-BoldItalic.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-BoldItalic.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-BoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Fira Sans ExtraBold'),
         local('FiraSans-ExtraBold'),
         url('FiraSans/WOFF2/FiraSans-ExtraBold.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-ExtraBold.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-ExtraBold.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('Fira Sans ExtraBold Italic'),
         local('FiraSans-ExtraBoldItalic'),
         url('FiraSans/WOFF2/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-ExtraBoldItalic.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-ExtraBoldItalic.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-ExtraBoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Fira Sans Heavy'),
         local('FiraSans-Heavy'),
         url('FiraSans/WOFF2/FiraSans-Heavy.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-Heavy.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-Heavy.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('Fira Sans Heavy Italic'),
         local('FiraSans-HeavyItalic'),
         url('FiraSans/WOFF2/FiraSans-HeavyItalic.woff2') format('woff2'),
         url('FiraSans/WOFF/FiraSans-HeavyItalic.woff') format('woff'),
         url('FiraSans/OTF/FiraSans-HeavyItalic.otf') format('opentype'),
         url('FiraSans/TTF/FiraSans-HeavyItalic.ttf') format('truetype');
}
