@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fira Mono Regular'),
         local('FiraMono-Regular'),
         url('FiraMono/WOFF2/FiraMono-Regular.woff2') format('woff2'),
         url('FiraMono/WOFF/FiraMono-Regular.woff') format('woff'),
         url('FiraMono/OTF/FiraMono-Regular.otf') format('opentype'),
         url('FiraMono/TTF/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Fira Mono Medium'),
         local('FiraMono-Medium'),
         url('FiraMono/WOFF2/FiraMono-Medium.woff2') format('woff2'),
         url('FiraMono/WOFF/FiraMono-Medium.woff') format('woff'),
         url('FiraMono/OTF/FiraMono-Medium.otf') format('opentype'),
         url('FiraMono/TTF/FiraMono-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Fira Mono Bold'),
         local('FiraMono-Bold'),
         url('FiraMono/WOFF2/FiraMono-Bold.woff2') format('woff2'),
         url('FiraMono/WOFF/FiraMono-Bold.woff') format('woff'),
         url('FiraMono/OTF/FiraMono-Bold.otf') format('opentype'),
         url('FiraMono/TTF/FiraMono-Bold.ttf') format('truetype');
}
