<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/squirrel.jpg">
    <title>{% block page_tab_title %}{% block page_title %}{% endblock %} | Sebastian Friedl{%- endblock -%}</title>
    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/theme/theme.css">
    
    <link rel="stylesheet" href="/static/Fira/fira-sans.css">
    <link rel="stylesheet" href="/static/Fira/fira-mono.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
</head>


<body>
<div class="wrapper">
<nav id="navbar" class="navbar navbar-dark bg-dark navbar-expand-md">
    <div>
        <a class="navbar-brand" href="/">
            <img src="/img/squirrel.jpg" alt="Logo" class="d-inline-block" style="width: 42px; margin: -6px; margin-right: 3px; border-radius: 50%;">
            Sebastian Friedl
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="font-size: 26px;"></i>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/projects.html">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li>
        </ul>
    </div>
</nav>

<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner" role="listbox">
        {%- block carousel_images %}
        <div class="carousel-item active" style="height: 450px; background-image: url('/img/header.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <!--<div class="carousel-caption">
            <h3>Caption</h3>
            <p>Sub-caption</p>
        </div>-->
        </div>
        {%- endblock %}
    </div>
</div>

<div id="container" class="container-md">
    {%- block container %}
    {% endblock %}
</div>


<div class="push">
</div>
</div>
<div class="copyright">
    &copy;&nbsp;{{ copyright_year }} Sebastian Friedl
</div>


<script src="/static/jquery/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
