{% extends '_base/base.html' %}

{% block container %}
<div class="row">
    <div class="col-12">
        {%- block breadcrumbs %}
        {%- endblock %}
        <h1>{{ self.page_title() }}</h1>
        {%- block page_content %}
        {%- endblock %}
    </div>
</div>
{% endblock %} 
