{% extends '_base/base.html' %}

{% block container %}
<div class="row">
    <div class="col-lg-8">
        {%- block breadcrumbs %}
        {%- endblock %}
        <h1>{{ self.page_title() }}</h1>
        {%- block page_content %}
        {%- endblock %}
    </div>
    <div class="col-lg-4 {% block nav_options %}{% endblock %}">
        {%- block nav_extra_space %}
        {#- Extra space if navigation is on page bottom #}
        <div class="mt-4 d-lg-none d-xl-none">
        </div>
        {%- endblock %}
        {%- block nav_content %}
        {%- endblock %}
    </div>
</div>
{% endblock %}
