body {
    font-family: 'Fira Sans', sans-serif;
    background-color: rgba(52,58,64,0.2);
}

h1 {
    font-size: 2.125rem;
    font-weight: 600;
    font-variant: small-caps;
}

h2 {
    margin-top: 1.25rem;
    font-size: 1.625rem;
    font-weight: 500;
}

p {
    margin-bottom: .5rem;
}



.text-monospace {
    font-family: 'Fira Mono', monospace !important;
}



.navbar .nav-item {
    text-transform: uppercase;
    padding-left: .75rem;
    padding-right: .75rem;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-dark .navbar-toggler {
    border: none;
    border-radius: 0rem;
    padding: 0.25rem;
}



#container {
    position: relative;
    margin-top: -24px;
    padding: 16px;
    background-color: #fff;
    border-radius: 0.25rem;
}



.breadcrumb {
    background-color: inherit;
    margin-bottom: .5rem;
    padding: 0rem;
    font-size: 80%;
    text-transform: uppercase;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}



.icon {
    margin-right: .5rem;
}



/* Copyright at bottom of page */

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -2.75rem;
}

.copyright, .push {
    height: 2.75rem;
}

.copyright {
    font-size: 0.9rem;
    padding-top: 0.65rem;
    text-align: center;
}
